<app-header></app-header>

<div class="row">
    <div class="column2">
        <div class="card">
            <img src="assets/img/comp.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="assets/img/work.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="assets/img/tech.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="assets/img/tech2.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
    </div>
        <div class="column">
            <div class="card">
                <img src="assets/img/comp.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>John Doe</b></h4>
                  <p>Architect & Engineer</p>
                </div>
              </div>
        </div>
</div>